<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  &egrave; un'associazione senza scopo di lucro il cui obiettivo
  &egrave; aiutare ricercatrici e ricercatori di ogni livello a semplificare e
  migliorare le proprie procedure di ricerca attraverso l'apprendimento di tecniche di
  base di programmazione e gestione di dati. Questo laboratorio propone ai partecipanti
  di apprendere programmando insieme agli istruttori, anch'essi appartenenti al
  mondo della ricerca e dell'insegnamento superiore e volontari dell'associazione <a href="{{site.swc_site}}">Software Carpentry</a>.
  Gli argomenti che verranno trattati sono l'automatizzazione di attivit&agrave;,
  il controllo di versione, l'organizzazione di dati, scrittura e progettazione di programmi.
  I partecipanti sono incoraggiati ad interagire fra loro e ad aiutarsi nel percorso di
  apprendimento e ad applicare quanto imparato ai loro campi di specializzazione.
</p>
<p align="center">
  <em>
    Per maggiori dettagli su cosa insegniamo e perch&egrave;, siete invitati a leggere il nostro articolo (in inglese)
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
