<div class="row">
  <div class="col-md-6">
    <h3>Giorno 1 (venerdì 19 marzo)</h3>
    <table class="table table-striped">
      <tr> <td>Prima</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Questionario pre-laboratorio</a> </td> </tr>
      <tr> <td>08:30-9:00</td>  <td>Introduzione al laboratorio e a The Carpentries</td> </tr>
      <tr> <td>09:00-10:30</td>  <td>Automatizzazione con la Shell Unix</td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Pausa caff&egrave;</td> </tr>
      <tr> <td>10:45-12:15</td>  <td>Automatizzazione con la Shell Unix</td> </tr>
      <tr> <td>12:15-13:15</td>  <td>Pranzo</td> </tr>
      <tr> <td>13:15-14:45</td>  <td>Controllo di versione con Git e Github</td> </tr>
      <tr> <td>14:45-15:00</td>  <td>Pausa caff&egrave;</td> </tr>
      <tr> <td>15:00-16:30</td>  <td>Controllo di versione con Git e Github</td> </tr>
      <tr> <td>16:30-16:45</td>  <td>Ritorno d’esperienza sulla giornata</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Giorno 2 (venerdì 26 marzo)</h3>
    <table class="table table-striped">
      <tr> <td>08:30-9:00</td>  <td>Revisione lezione precedente</td> </tr>
      <tr> <td>09:00-10:30</td>  <td>Programmare con Python</td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Pausa caff&egrave;</td> </tr>
      <tr> <td>10:45-12:15</td>  <td>Programmare con Python</td> </tr>
      <tr> <td>12:15-13:15</td>  <td>Pranzo</td> </tr>
      <tr> <td>13:15-14:45</td>  <td>Creare grafici con Python</td> </tr>
      <tr> <td>14:45-15:00</td>  <td>Pausa caff&egrave;</td> </tr>
      <tr> <td>15:00-16:30</td>  <td>Applicazioni avanzate con Python</td> </tr>
      <tr> <td>16:30-16:45</td>  <td>Ritorno d’esperienza sulla giornata e sul workshop</td> </tr>
      <tr> <td>Dopo</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Questionario post-laboratorio</a></td> </tr>
    </table>
  </div>
</div>
