<div id="editor">
  <h3>Editore di testo</h3>

  <p>
    Per scrivere codice &egrave; utile avere a disposizione un editore di testo
    ottimizzato a questo scopo, con opzioni quali l'utilizzo di un codice-colore per
    la parole chiave e funzioni del programma in uso. L'editore di testo di default
    su Mac e Linux &egrave; Vim, che non &egrave; conosciuto per essere intuitivo soprattutto
    con programmatori alle prime armi. Se vi ritrovate bloccati dentro una pagina di Vim,
    premete <kbd>Esc</kbd>, seguito da <kbd>:</kbd>+<kbd>Q</kbd>+<kbd>!</kbd>
    (due punti, 'q' minuscula, punto esclamativo), e infine premete <kbd>Invio</kbd> per tornare al terminale.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#editor-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#editor-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#editor-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="editor-windows">
        <p>
          nano &egrave; un editore di testo basico e di semplice utilizzo che gli istruttori utilizzeranno durante il workshop.
          Viene installato insieme a Git.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-macos">
        <p>
          nano &egrave; un editore di testo basico e di semplice utilizzo che gli istruttori utilizzeranno durante il workshop.
          Guardate <a href="#editor-macos-video-tutorial">questo video</a> di spiegazione dell'installazione di Git per un esempio
          di come aprire nano. nano dovrebbe essere pre-installato su dispositivi Mac.
        </p>
        <h4 id="editor-macos-video-tutorial">Video Tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-linux">
        <p>
          nano &egrave; un editore di testo basico e di semplice utilizzo che gli istruttori utilizzeranno durante il workshop.
          Viene installato insieme a Git.
        </p>
      </article>
    </div>
  </div>
</div>
