{% comment %}
Git Setup instructions rely on Shell instructions. If you don't include
Shell instructions as part of your workshop website, make sure to adjust
the text below accordingly.
{% endcomment %}
<div id="git">
  <h3>Git</h3>
  <p>
    Git &egrave; un sistema di controllo di versione che vi permette di tenere
    traccia dei cambiamenti fatti su uno o pi&ugrave; file, mantenendo un registro accessibile
    di autore e data della modifica. Git permette anche di modificare e aggiornare una versione
    condivisa e pubblica del vostro codice attraverso la piattaforma
    <a href="https://github.com/">github.com</a>. Per utillizarla avrete bisogno di un
    <a href="https://help.github.com/articles/supported-browsers/">un browser internet supportato</a>.
  </p>
  <p>
    Per alcune sezioni del laboratorio su Git, avrete bisogno di un account su
     <a href="https://github.com/">github.com</a>. Un account GitHub "basic" &egrave; gratuito.
    Siete incoraggiati a creare un account Github se non ne avete gi&agrave; uno. Prestate
    attenzione a quali informazioni personali volete rendere pubbliche. Vi consigliamo di leggere le seguenti
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">istruzioni per mantenere il vostro indirizzo email privato</a>
    proposte da GitHub.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#git-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#git-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#git-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="git-windows">
        <p>
          Git dovrebbe venire installato insieme alla shell testuale Bash (vedere
          <a href="#shell">le istruzioni di installazione della shell testuale Bash</a>).
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-macos">
        <p>
          <strong>Per dispositivi macOS</strong>, installate Git scaricando e eseguendo
          la routine di installazione "mavericks" pi&ugrave; recente che trovate
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">in questa lista</a>.
          Dato che questo eseguibile non &egrave; firmato dagli sviluppatori, &egrave; possibile che avrete bisogno di
          cliccare col tasto destro del mouse (control click) sul file .pkg, cliccare "Open", e cliccare ancora "Open"
          nella finestra che apparir&agrave;. Dopo l'installazione, Git non apparir&agrave; nella cartella  <code>/Applications</code>,
          ma sar&grave; disponibile nel Terminal.
          <strong>Per versioni precedenti di OS X (10.5-10.8)</strong>, usate l'eseguibile pi&ugrave; recente con l'etichetta "snow-leopard"
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">disponibile a questo link</a>.
        </p>
        <h4>Video di istruzioni</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
          <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-linux">
        <p>
          Se Git non &egrave; gi&agrave; disponibile sul vostro dispositivo, potete provare a installarlo attraverso
          il gestore di pacchetti della vostra distribuzione. Per Debian/Ubuntu, eseguite
          <code>sudo apt-get install git</code> e per Fedora eseguite
          <code>sudo dnf install git</code>.
        </p>
      </article>
    </div>
  </div>
</div>
