
<h3 id="videoconferencing">Installazione del client per videoconferenze</h3>

{% comment %}
Replace the paragraph below with the relevant installation instructions
if you do not use Zoom
{% endcomment %}
<p>
  Se non avete usato Zoom in precedenza, visitate il
  <a href="https://zoom.us/download">sito ufficiale</a>
  per scaricare e installare il client Zoom sul vostro computer.
</p>


<h4>Preparazione del proprio spazio di lavoro</h4>

<p>
  Come nei laboratori Carpentries in presenza, i partecipanti apprendono programmando "insieme"
  agli istruttori. A questo scopo, avrete bisogno di avere aperte allo stesso tempo
  la finestra del programma che state imparando (terminale, RStudio, navigatore web, ...)
  e la finestra della videoconferenza Zoom.
  Per poter vedere entrambi allo stesso tempo, vi consigliamo una fra le seguenti opzioni:
  <ul>
    <li><strong>2 schermi:</strong> se avete 2 schermi a disposizione,
      organizzatevi in modo da avere su uno schermo il programma che state
      imparando e sull'altro il programma di videoconferenza.</li>
    <li><strong>2 dispositivi:</strong> nel caso non abbiate 2 schermi,
      avete per caso un altro dispositivo (tablet, smartphone) con uno schermo medio-grande?
      Se s&igrave; provate a usare il dispositivo pi&ugrave; piccolo per connettervi alla
      videoconferenza e il dispositivo pi&ugrave; grande per seguire il lavoro sul programma che
      state imparando.</li>
    <li><strong>Dividere lo schermo:</strong> se non avete a disposizione n&eacute; 2 schermi
      n&eacute; 2 dispositivi, fate pratica nell'avere due finestre (una per la videoconferenza e l'altra
      per il programma che state imparando) aperte insieme allo stesso tempo.
      Qual &egrave l'organizzazione migliore delle finestre sul vostro schermo? Preferite muovervi
      da una finestra all'altra usando il mouse o la tastiera? Fate una prova prima del laboratorio
      e decidete quale assetto preferite.</li>
  </ul>
  A <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">questa pagina</a> potete
  trovare informazioni dettagliate e consigli su come organizzare il proprio schermo per participare al meglio al laboratorio.
</p>
